<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.gurwl.test.pension.repository.PensionRepository">
	
	<select id="searchBooking" parameterType="map" resultType="com.gurwl.test.pension.domain.Booking">
		select 
			`name`,
			`headcount`,
			`day`,
			`date`,
			`phoneNumber`,
			`state`
		from 
			`booking`
		where
			`name` = #{name}
			and
			`phoneNumber` = #{phoneNumber}
	</select>
</mapper>  